.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: tomato;
    padding: 20px;
}

.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0,0,0,0.4);
    padding:  10px;
    font-size: 30px;
    text-align: center;
}